{{!--

Please set the `title` in the request body before calling the render function.
Please set identity attribute to the session object before calling the render function.
There are four types of identities: "guest", "user", "manager", "admin".

--}}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/hotels.css">

</head>

<body>
    <h1>{{title}}</h1>
    <main>
        <header>
            <div class="logo">
                <a href="/"><img src="/public/img/logo.png" alt="logo"></a>
            </div>
            <div class="homepage">
                <a href="/" class="home-button">Index</a>
            </div>
                
            <div class="nav">
                <ul>
                    {{#if (eq user.identity "guest")}}
                    <li><a href="/user/login">Login</a></li>
                    <li><a href="/user/register">Register</a></li>
                    {{else}}                  
                    <li><a href="/user/dashboard/{{user.username}}">Dashboard</a></li>
                    <li><a href="/user/dashboard/logout">Logout</a></li>
                    {{/if}}
                </ul>
            </div>
        </header>
        <div class="flash">
        {{#if success}}
        <div class="alert alert-success">{{success}}
        </div>
        {{/if}}

        {{#if error}}
        <div class="alert alert-danger">{{error}}
        </div>
        {{/if}}
        </div>
        <section class="content">
        {{{body}}}
        </section>
    </main>
    <script src="/public/js/validation.js"></script>
    <script src="/public/js/newWindow.js"></script>
    <script src="/public/js/states.js"></script>
    <script src="/public/js/danger.js"></script>
    {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/tota11y/0.1.6/tota11y.min.js"></script> --}}
</body>

</html>