{{#if errorMessage}}
<div class="error">
    <p>Error code{{status}}: {{errorMessage}}</p>
</div>
{{/if}}
<div class="adminUsers box">
    <div class="allUsers left">
        <div class="searchUser">
            <h2>Search User</h2>
            <form action="/admin/accounts/" method="POST" id="searchUsers-form" class="my-form">
                <label for="usernameInput" id="username-label">
                    Search user by username:
                </label>
                <input type="text" name="usernameInput" id="username" class="userName">
                <button type="submit" id="searchUsers-button">Search</button>
            </form>
        </div>
        {{#if searchedUser}}
        <div class="searchedUser">
            <div class="userInfo">
                <p>Search result:</p>
                <div class="searchedUserResult">
                    <p>Username: {{searchedUser.username}}</p>
                    <p>First Name: {{searchedUser.firstName}}</p>
                    <p>Last Name: {{searchedUser.lastName}}</p>
                    <p>Email: {{searchedUser.email}}</p>
                    <p>Phone: {{searchedUser.phone}}</p>
                    <p>Identity: {{searchedUser.identity}}</p>
                    {{#if (eq searchedUser.identity "manager")}}
                        <p>Hotel ID: {{searchedUser.hotel_id}}</p>
                    {{/if}}
                </div>
            </div>
            <div class="editInformation">
                <button id="editInformationButton" onclick="editInformation()">Edit Account</button>
                <div id="editInformationWindow" hidden="true">
                    <form action="/admin/accounts?_method=PATCH" method="POST" id="editInformation-form"
                        class="my-form" enctype="multipart/form-data">
                        <input type="hidden" name="searchedUsername" id="searchedUsername" value="{{searchedUsername}}">

                        <label for="usernameInput" id="usernameInput-label">
                            Username:
                            <input type="text" name="usernameInput" id="usernameInput" class="userName">
                        </label>                        
                        <label for="avatarInput" id="avatarInput-label">
                            Avatar:<input type="file" name="avatarInput" id="avatarInput" accept="image/*">
                        </label> 
                        <label for="firstNameInput" id="firstNameInput-label">
                            First Name:
                            <input type="text" name="firstNameInput" id="firstNameInput" class="name">
                        </label>

                        <label for="lastNameInput" id="lastNameInput-label">
                            Last Name:
                            <input type="text" name="lastNameInput" id="lastNameInput" class="name">
                        </label>

                        <label for="emailInput" id="emailInput-label">
                            Email:
                            <input type="email" name="emailInput" id="emailInput">
                        </label>

                        <label>
                            Phone:
                            <input type="phone" name="phoneInput" id="phoneInput">
                        </label>

                        <label for="passwordInput" id="passwordInput-label">
                            Password:
                            <input type="password" name="passwordInput" id="passwordInput" class="PasswordInput">
                        </label>

                        <label for="confirmPasswordInput" id="confirmPasswordInput-label">
                            Confirm Password:
                            <input type="password" name="confirmPasswordInput" id="confirmPasswordInput"
                                class="confirmPasswordInput">
                        </label>

                        <button type="submit" id="editInformation">Submit</button>
                    </form>
                </div>
                {{!-- <div class="editUser">
                    <button id="editUserButton">Edit Account</button>
                </div> --}}
                {{#if (ne searchedUser.identity "admin")}}
                <div class="deleteUser">
                    <form action="/admin/accounts?_method=DELETE" method="POST" id="deleteUser-form" class="my-form">
                        <input type="hidden" name="searchedUsername" id="searchedUsername" value="{{searchedUsername}}">
                        <button type="submit" id="deleteUser" class="danger">Delete Account</button>
                    </form>
                </div>
                {{/if}}
            </div>
            {{else}}
            <div class="userInfo">
                <p>Search result:</p>
                <div class="searchedUserResult">
                    <p>No user found.</p>
                </div>
            {{/if}}
            

        </div>
        <a href="/admin/accounts/createNewAccount">Create New Account</a>
        {{!-- <div class="newUser right">
            <p>Create a new user.</p>
            <form action="/admin/account/" method="POST" id="registration-form" class="my-form">
                <label for="usernameInput" id="username-label">
                    Username:
                </label>
                <input type="text" name="usernameInput" id="username">
                <label for="firstNameInput" id="firstNameInput-label">
                    First Name:
                </label>
                <input type="text" name="firstNameInput" id="firstNameInput">
                <label for="lastNameInput" id="lastNameInput-label">
                    Last Name:
                </label>
                <input type="text" name="lastNameInput" id="lastNameInput">
                <label for="emailAddressInput" id="emailAddressInput-label">
                    Email:
                    <input type="email" name="emailAddressInput" id="emailAddressInput">
                </label>
                <label>
                    Phone:
                    <input type="phone" name="phone" id="phone">
                </label>
                <label for="passwordInput" id="passwordInput-label">
                    Password:
                    <input type="password" name="passwordInput" id="passwordInput">
                </label>
                <label for="confirmPasswordInput" id="confirmPasswordInput-label">
                    Confirm Password:
                </label>
                <input type="password" name="confirmPasswordInput" id="confirmPasswordInput">
                <button type="submit" id="register-button">Register</button>
            </form>
        </div> --}}
    </div>
    <p class="error" id="client-error">
        {{errorMessage}}
    </p>
    <div class="adminPage">
        <a href="/admin">Admin Main Page</a>
    </div>
</div>