{{!--

registration handelbars

--}}
{{!--
<script src="../public/js/lab10.js"></script> --}}
{{#if errorMessage}}
<div class="error">
    <p>Error code{{status_code}}: {{errorMessage}}</p>
</div>
{{/if}}
<div class="searchUser">
    <h2>Search User</h2>
    <form action="/admin/account" method="GET" id="searchUsers-form" class="my-form">
        <label for="username" id="username-label">
            Search user by username:
        </label>
        <input type="text" name="username" id="username">
        <button type="submit" id="searchUsers-button">Search</button>
    </form>
</div>
{{#if searchedUser}}
<div class="searchedUser">
    <div class="userInfo">
        <p>Search result:</p>
        <div class="searchedUserResult">
            <p>Username: {{searchedUser.username}}</p>
            <p>First Name: {{searchedUser.firstName}}</p>
            <p>Last Name: {{searchedUser.lastName}}</p>
            <p>Email: {{searchedUser.email}}</p>
            <p>Phone: {{searchedUser.phone}}</p>
            <p>Identity: {{searchedUser.identity}}</p>
        </div>
    </div>
    <div class="editUser">
        <button id="editUserButton"></button>
    </div>
    <div class="deleteUser"></div>
</div>
{{/if}}
<div class="newUser">
    <p>Create a new user.</p>
    <form action="/admin/account" method="POST" id="registration-form" class="my-form">
        <label for="username" id="username-label">
            Username:
        </label>
        <input type="text" name="username" id="username">
        <label for="firstNameInput" id="firstNameInput-label">
            First Name:
        </label>
        <input type="text" name="firstNameInput" id="firstNameInput">
        <label for="lastNameInput" id="lastNameInput-label">
            Last Name:
        </label>
        <input type="text" name="lastNameInput" id="lastNameInput">
        <label for="emailAddressInput" id="emailAddressInput-label">
            Email:
            <input type="email" name="emailAddressInput" id="emailAddressInput">
        </label>
        <label>
            Phone:
            <input type="phone" name="phone" id="phone">
        </label>
        <label for="passwordInput" id="passwordInput-label">
            Password:
            <input type="password" name="passwordInput" id="passwordInput">
        </label>
        <label for="confirmPasswordInput" id="confirmPasswordInput-label">
            Confirm Password:
        </label>
        <input type="password" name="confirmPasswordInput" id="confirmPasswordInput">
        <button type="submit" id="register-button">Register</button>
    </form>
</div>
<p class="error" id="client">
    {{errorMessage}}
</p>