{{!--



--}}

{{#if error}}
<div class="error">
    <p>Error code {{status}}: {{errorMessage}}</p>
</div>
{{/if}}
<div class="Avatar">
    <img src="{{avatar}}" alt="thumbnail not available">
</div>
<h2>{{username}}</h2>
<div class="information">
    <div class="userIdentity">
        <p>Identity: {{identity}}</p>
    </div>
    <div class="userFirstName">
        <p>First Name: {{firstName}}</p>
    </div>
    <div class="userLastName">
        <p>Last Name: {{lastName}}</p>
    </div>
    <div class="userEmail">
        <p>Email: {{email}}</p>
    </div>
    <div class="userPhone">
        <p>Phone: {{phone}}</p>
    </div>
</div>
{{#if (eq user.identity "user")}}
<div class="newApplication">
    <button id="newHotelButton" onclick="newHotel()">Start Hotel Registration</button>
    <div id="newHotelWindow" hidden="true">
        <form action="/user/dashboard/{{username}}/upgrade" method="POST">
            
            <label for="hotelName" id="hotelName-label">
                Hotel Name:
            </label>
            <input type="text" name="hotelName" id="hotelName" value="{{hotelName}}">
            <label for="hotelPhoto" id="hotelPhoto-label">
                Hotel Photo:
            </label>
            <input type="text" name="hotelPhoto" id="hotelPhoto" value="{{hotelPhoto}}">
            <div class="hotelContact">
                <label for="hotelPhone" id="hotelPhone-label">
                    Hotel Phone:
                </label>
                <input type="text" name="hotelPhone" id="hotelPhone" value="{{hotelPhone}}">
                <label for="hotelEmail" id="hotelEmail-label">
                    Hotel Email:
                </label>
                <input type="email" name="hotelEmail" id="hotelEmail" value="{{hotelEmail}}">
            </div>
            <div class="hotelAddress">
                <input type="text" name="hotelName" id="hotelName" value="{{hotelName}}">
                <label for="hotelCity" id="hotelCity-label">
                    Hotel City:
                </label>
                <input type="text" name="hotelCity" id="hotelCity" value="{{hotelCity}}">
                <label for="hotelStreet" id="hotelStreet-label">
                    Hotel Street:
                </label>
                <input type="text" name="hotelStreet" id="hotelStreet" value="{{hotelStreet}}">
                <label for="hotelState" id="hotelState-label">
                    Hotel State:
                </label>
                <select id="hotelState" class="state">
                </select>
                <label for="hotelZipcode" id="hotelZipcode-label">
                    Hotel Zip:
                </label>
                <input type="text" name="hotelZipcode" id="hotelZipcode" value="{{hotelZipcode}}">
                <input type="hidden" name="userId" value="{{_id}}">
                <button type="submit" id="newApplication">Apply for a new hotel</button>
        </form>
    </div>

</div>
{{/if}}
<div class="functionMenu">
    <div class="functionItem"><a href="/user/dashboard/{{username}}/order_history">My Orders</a></div>
    {{#if (eq user.identity "manager")}}
    <div class="functionItem"><a href="/user/dashboard/{{username}}/hotel_management">My Hotel</a></div>
    {{/if}}
    {{#if (eq user.identity "admin")}}
    <div class="functionItem"><a href="/admin">Admin</a></div>
    {{/if}}
    <div class="functionItem"><a href="/user/logout">Log Out</a></div>
</div>

<div class="error" id="client">
    <p id="client-error"></p>
</div>