{{!--



--}}

{{#if errorMessage}}
<div class="error">
    <p>Error code {{status}}: {{errorMessage}}</p>
</div>
{{/if}}
<div class="avatar">
    {{#if avatar}}
    <img src="{{avatar}}" alt="avatar of the user">
    {{else}}
    <img src="/public/img/avatar.jpg" alt="default avatar">
    {{/if}}
</div>
<h2>{{username}}</h2>
<div class="information box">
    <div class="currentInformation left">
        <div class="userIdentity">
            <p>Identity: {{identity}}</p>
        </div>
        <div class="userFirstName">
            <p>First Name: {{firstName}}</p>
        </div>
        <div class="userLastName">
            <p>Last Name: {{lastName}}</p>
        </div>
        <div class="userEmail">
            <p>Email: {{email}}</p>
        </div>
        <div class="userPhone">
            <p>Phone: {{phone}}</p>
        </div>
    </div>
    {{!-- edit personal information --}}
    <div class="editInformation"><button id="editInformationButton" onclick="editInformation()">Edit Info</button>
        <div id="editInformationWindow" hidden="true">
            <form action="/user/dashboard/{{username}}/edit_info?_method=PUT" method="POST" id="editInformation-form"
                class="my-form" enctype="multipart/form-data">
                <input type="hidden" name="username" value="{{username}}">
                <div class="userFirstName">
                    <label for="userFirstNameInput">First Name</label>
                    <input type="text" name="userFirstNameInput" id="userFirstNameInput" value="{{firstName}}">
                </div>
                <div class="userLastName">
                    <label for="userLastNameInput">Last Name</label>
                    <input type="text" name="userLastNameInput" id="userLastNameInput" value="{{lastName}}">
                </div>
                <div class="avatar">
                    <label for="avatar">Avatar</label>
                    <input type="file" name="avatar" id="avatar" accept="image/*">
                </div>
                <div class="userEmail">
                    <label for="userEmail">Email</label>
                    <input type="email" name="userEmailInput" id="userEmailInput" value="{{email}}">
                </div>
                <div class="userPhone">
                    <label for="userPhone">Phone</label>
                    <input type="text" name="userPhoneInput" id="userPhoneInput" value="{{phone}}">
                </div>
                <button type="submit" id="editInformation">Submit</button>
            </form>
        </div>
    </div>
    <div class="changePassword">
        <button id="changePasswordButton" onclick="changePassword()">Change Password</button>
        <div id="changePasswordWindow" hidden="true">
            <form action="/user/dashboard/{{username}}/change_password?_method=PUT" method="POST"
                id="changePassword-form" class="my-form">
                <input type="hidden" name="username" value="{{username}}">
                <div class="userPassword">
                    <label for="userPassword">Password</label>
                    <input type="password" name="userPasswordInput" id="userPasswordInput" class="oldPasswordInput">
                </div>
                <div class="userNewPassword">
                    <label for="userPassword">New Password</label>
                    <input type="password" name="userNewPasswordInput" id="userNewPasswordInput"
                        class="newPasswordInput">
                </div>
                <div class="userConfirmNewPassword">
                    <label for="userConfirmPassword">Confirm New Password</label>
                    <input type="password" name="userConfirmNewPasswordInput" id="confirmNewPasswordInput"
                        class="confirmNewPasswordInput">
                </div>
                <button type="submit" id="editChangePassword">Submit</button>
            </form>
        </div>
    </div>

</div>
{{!-- manager/hotel application --}}
{{#if (eq user.identity "user")}}
<div class="newApplication">
    <button id="newHotelButton" onclick="newHotel()">Start Hotel Registration</button>
    <div id="newHotelWindow" hidden="true">
        <form action="/user/dashboard/{{username}}/upgrade" method="POST" class="my-form" enctype="multipart/form-data">
            <label for="hotelNameInput" id="hotelNameInput-label">
                Hotel Name:<input type="text" name="hotelNameInput" id="hotelNameInput" value="{{hotelName}}">
            </label>
            <label for="hotelPhoto" id="hotelPhoto-label">
                Hotel Photo:<input type="file" name="hotelPhotoInput" id="hotelPhotoInput" accept="image/*" multiple>
            </label>
            <div class="hotelContact">
                <label for="hotelPhoneInput" id="hotelPhoneInput-label">
                    Hotel Phone:<input type="text" name="hotelPhoneInput" id="hotelPhoneInput" value="{{hotelPhone}}">
                </label>
                <label for="hotelEmailInput" id="hotelEmailInput-label">
                    Hotel Email:<input type="email" name="hotelEmailInput" id="hotelEmailInput" value="{{hotelEmail}}">
                </label>
            </div>
            <div class="hotelAddress">
                <label for="hotelCityInput" id="hotelCityInput-label">
                    Hotel City:<input type="text" name="hotelCityInput" id="hotelCityInput" value="{{hotelCity}}">
                </label>
                <label for="hotelStreetInput" id="hotelStreetInput-label">
                    Hotel Street:<input type="text" name="hotelStreetInput" id="hotelStreetInput"
                        value="{{hotelStreet}}">
                </label>
                <label for="hotelStateInput" id="hotelStateInput-label">
                    Hotel State:<select id="hotelStateInput" class="state" name="hotelStateInput">
                    </select>
                </label>
                <label for="hotelZipcodeInput" id="hotelZipcodeInput-label">
                    Hotel Zip:<input type="text" name="hotelZipcodeInput" id="hotelZipcodeInput"
                        value="{{hotelZipcode}}">
                </label>
                <label for="hotelFacilitiesInput" id="hotelFacilitiesInput-label">
                    Hotel Facilities:<input type="text" name="hotelFacilitiesInput" id="hotelFacilitiesInput"
                        value="{{hotelFacilities}}">
                </label>
                <input type="hidden" name="userIdInput" value="{{_id}}">
            </div>
            <button type="submit" id="newApplication">Apply for a new hotel</button>
        </form>
    </div>
</div>
{{/if}}
<div class="functionMenu">
    <div class="functionItem"><a href="/user/dashboard/{{username}}/order_history">My Orders</a></div>
    {{#if (eq user.identity "manager")}}
    <div class="functionItem"><a href="/hotel/{{hotel_id}}/hotelManagement">My Hotel</a></div>
    {{/if}}
    {{#if (eq user.identity "admin")}}
    <div class="functionItem"><a href="/admin">Admin</a></div>
    {{/if}}
    <div class="functionItem"><a href="/user/logout">Log Out</a></div>
</div>

<div class="error" id="client">
    <p id="client-error"></p>
</div>