{{!--

hotel_photo: the first photo of the Pictures attribute of the hotel
hotel book button: You can modify the reletive address for your own purpose
hotel room: you should calculate this variable of if there are available rooms to determine whether to show the hotel
room information
userHasReviewed: Please pass this boolean variable to the template to determine whether to show the review button
reviewID, reviewComment, reviewTitle: if the user has reviewed this hotel, please pass the reviewID to the template

--}}

{{#if error}}
<div class="error">
    <p>Error code {{statusCode}}: {{error}}</p>
</div>
{{/if}}
<h2>{{hotelName}}</h2>
<div class="hotelInfo">
    <div class="hotelBasicInfo">
        <div class="hotelPhoto"><img src="{{hotelPhoto}}"></div>
        <div class="hotelRating">
            <p>Rating: {{hotelRating}}</p>
        </div>
    </div>
    <div class="hotelIntro">
        <div class="hotelAddress">
            <p>Address: {{hotelAddress}}</p>
        </div>
        <div class="hotelContacts">
            <p>Contacts: Phone: {{hotelPhone}} Email: {{hotelEmail}}</p>
        </div>
    </div>
    {{#if (ne user.identity "guest")}}
    <div class="booking">
        <p>Please choose the date and search if there are rooms available.</p>
        <form action="/hotel/{{hotelId}}/result" method="POST" id="registration-form" class="my-form">
            <label for="startDate" id="startDate-label">
                Start Date:
            </label>
            <input type="date" name="startDate" id="startDate">
            <label for="endDate" id="endDate-label">
                End Date:
            </label>
            <input type="date" name="endDate" id="endDate">
            <button type="submit">Search</button>
        </form>
    </div>
    {{#else}}
    <div class="booking">
        <p>Please <a href="/register">log in</a> to book a room.</p>
    </div>
    {{/if}}
</div>
<div class="reviewSection">
    <div class="reviewResult">
        {{#if userHasReviewed}}
        <div class="editReview">
            <div class="editReviewButton">
                <button id="editReviewButton" onclick="editReview()">
                    Edit Review
                </button>
            </div>
            <div hidden="true" id="editReviewWindow">
                <form action="/reviews/{{reviewId}}" method="PATCH">
                <label for="reviewTitle">Title</label>
                    <input type="text" name="reviewTitle" placeholder="Title" value="{{reviewTitle}}">
                    <label for="reviewComment">Comment</label>
                    <textarea name="reviewComment" placeholder="Comment">{{reviewComment}}</textarea>
                    <label for="reviewRating">Rating</label>
                    <select name="reviewRating" id="reviewRating">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3" selected>3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
        {{#else}}
        <div class="addReview">
            <div class="addReviewButton">
                <button id="addReviewButton" onclick="addReview()">
                    Add Review
                </button>
            </div>
            <div hidden="true" id="addReviewWindow">
                <form action="/reviews" method="POST">
                <label for="reviewTitle">Title</label>
                    <input type="text" name="reviewTitle" placeholder="Title">
                     <label for="reviewComment">Comment</label>
                    <textarea name="reviewComment" placeholder="Comment"></textarea>
                    <label for="reviewRating">Rating</label>
                    <select name="reviewRating" id="reviewRating">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3" selected>3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
        {{/if}}
        <ol>
            {{#each reviews}}
            <li>
                <div class="reviewItem">
                    <div class="reviewUserItem">
                        <div class="reviewUserPhoto"><img src="{{reviews.userAvatar}}"></div>
                        <div class="reviewUserName">
                            <p>{{reviews.userName}}</p>
                        </div>
                    </div>
                    <div class="reviewContentItem">
                        <div class="reviewTitle"><a href="/reviews/{{reviews.reviewId}}">{{reviews.reviewTitle}}</a>
                        </div>
                        <div class="reviewRating">
                            <p>{{reviews.reviewRating}}</p>
                        </div>
                        <div class="reviewComment">
                            <p>{{reviews.reviewComment}}</p>
                        </div>
                        <div class="reviewUpvote">
                            <p>Upvote: {{reviews.reviewUpvote}}</p>
                        </div>
                        <div class="reviewDownvote">
                            <p>Downvote: {{reviews.reviewDownvote}}</p>
                        </div>
                    </div>
                    {{#if reviews.managerReply}}
                    <div class="managerReply">
                        <p>Manager reply: {{reviews.managerReply}}</p>
                    </div>
                    {{/if}}
                </div>
            </li>
            {{/each}}
        </ol>
    </div>
</div>
</div>
<div class="error" id="client">
    <p id="client-error"></p>
</div>
<a href="/register">Click here to register!</a>