{{!--

What this page needs:
hotel information
review information
reviewUserId: the id of the user who wrote the review

--}}

{{#if errorMessage}}
<div class="error">
    <p>Error code {{status}}: {{errorMessage}}</p>
</div>
{{/if}}

<h2>{{hotelName}}'s all reviews</h2>
<div class="hotelInfo">
    <div class="hotelName">
        <p>{{hotelName}}</p>
    </div>
    <div class="hotelPhoto">
        {{#if hotelPhoto}}
        {{#each hotelPhoto}}
        <img src="{{this}}" alt="photo of the hotel">
        {{/each}}
        {{else}}
        <img src="/public/img/hotel.jpg" alt="default hotel photo">
        {{/if}}
    </div>
    <div class="hotelRating">
        <p>Rating: {{hotelRating}}</p>
    </div>

    <div class="hotelIntro">
        <div class="hotelAddress">
            <p>Address: {{hotelAddress}}</p>
        </div>
        <div class="hotelContacts">
            <p>Contacts: Phone: {{hotelPhone}} Email: {{hotelEmail}}</p>
        </div>
    </div>
</div>
<div class="reviewOperations box">
    <div class="reviewResult left">
        <h3>All Reviews</h3>
        {{#if hotelReviews}}
        {{#each hotelReviews}}
        <div class="reviewItem box">
            <div class="reviewUserItem left">
                <div class="reviewUserPhoto">
                    <img src="{{userAvatar}}" alt="User Avatar" aria-placeholder="User Avatar">
                </div>
            </div>
            <div class="reviewContentItem right">
                <div class="reviewRating">
                    <p>{{reviewRating}}</p>
                </div>
                <div class="reviewComment">
                    <p>{{comment}}</p>
                </div>
                <div class="reviewVotes">
                    <p>Upvote: {{upVote}}</p>
                    <p>Downvote: {{downVote}}</p>
                </div>
            </div>
        </div>
        {{/each}}
        {{else}}
        <p>No reviews yet.</p>
        {{/if}}
    </div>
    {{!-- <div class="addReview">
        <h3>Add a new review</h3>
        <form action="/hotel/{{hotelId}}/hotelManagements/reviews" method="POST" id="registration-form" class="my-form">
            <input type="hidden" name="hotelId" value="{{hotelId}}">
            <label for="reviewUsernameInput" id="reviewUsernameInput-label">
                Username:
            </label>
            <input type="text" name="reviewUsernameInput" id="reviewUsernameInput">
            <label for="orderIdInput" id="orderIdInput-label">
                Order ID:
            </label>
            <input type="text" name="orderIdInput" id="orderIdInput">
            <label for="ratingInput" id="ratingInput-label">
                Review Rating:
            </label>
            <select name="ratingInput" id="ratingInput">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3" selected>3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <label for="reviewInput" id="reviewInput-label">
                Review Comment:
            </label>
            <textarea name="reviewInput" id="reviewInput" cols="30" rows="10"></textarea>
            <button type="submit">Submit</button>
        </form>
    </div> --}}

</div>
<div class="error" id="client">
    <p id="client-error"></p>
</div>
