{{!--

hotel_photo: the first photo of the Pictures attribute of the hotel
hotel book button: You can modify the reletive address for your own purpose
hotel room: you should calculate this variable of if there are available rooms to determine whether to show the hotel
room information
userHasReviewed: Please pass this boolean variable to the template to determine whether to show the review button

--}}

{{#if error}}
<div class="error">
    <p>Error code {{statusCode}}: {{error}}</p>
</div>
{{/if}}
<h2>{{hotelName}}</h2>
<div class="hotelInfo">
    <div class="hotelBasicInfo">
        <div class="hotelPhoto"><img src="{{hotelPhoto}}" alt="Photo not available"></div>
        <div class="hotelRating">
            <p>Rating: {{hotelRating}}</p>
        </div>
    </div>
    <div class="hotelIntro">
        <div class="hotelAddress">
            <p>Address: {{hotelAddress}}</p>
        </div>
        <div class="hotelContacts">
            <p>Contacts: Phone: {{hotelPhone}} Email: {{hotelEmail}}</p>
        </div>
    </div>
    {{#if hotelRoom}}
    <div class="hotelRoom">
        <div class="roomsInfo">
            <ul>
                {{#each roomType}}
                <li>
                    <div class="roomItem">
                        <div class="roomPhoto"><img src="{{this.pictures}}"></div>
                        <div class="roomInfo">
                            <div class="roomTypeName">
                                <p>{{this.name}}</p>
                            </div>
                            <div class="roomPrice">
                                <p>Price: {{this.price}}</p>
                            </div>
                            <div class="roomBook"><a href="{{hotelId}}/{{this._id}}">Book</a></div>
                        </div>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
    {{else}}
    <div class="hotelRoom">
        <p>Sorry, there is no room available for this hotel.</p>
    </div>
    {{/if}}
</div>
<div class="reviewResult">
    <ol>
        {{#each reviews}}
        <li>
            <div class="reviewItem">
                <div class="reviewUserItem">
                    <div class="reviewUserPhoto">{{this.userAvatar}}</div>
                </div>
                <div class="reviewContentItem">
                    <div class="reviewTitle"><a href="/reviews/{{this._id}}"></a></div>
                    <div class="reviewRating">
                        <p>{{this.rating}}</p>
                    </div>
                    <div class="reviewComment">
                        <p>{{this.comment}}</p>
                    </div>
                </div>
            </div>
        </li>
        {{/each}}
    </ol>
</div>
<div class="error" id="client">
    <p id="client-error"></p>
</div>
<a href="/register">Click here to register!</a>

{{#if error}}
<div class="error">
    <p>Error code {{statusCode}}: {{error}}</p>
</div>
{{/if}}
<h2>{{hotelName}}</h2>
<div class="hotelInfo">
    <div class="hotelBasicInfo">
        <div class="hotelPhoto"><img src="{{hotelPhoto}}"></div>
        <div class="hotelRating">
            <p>Rating: {{hotelRating}}</p>
        </div>
    </div>
    <div class="hotelIntro">
        <div class="hotelAddress">
            <p>Address: {{hotelAddress}}</p>
        </div>
        <div class="hotelContacts">
            <p>Contacts: Phone: {{hotelPhone}} Email: {{hotelEmail}}</p>
        </div>
    </div>
    {{#if (ne user.identity "guest")}}
    <div class="booking">
        <p>Please choose the date and search if there are rooms available.</p>
        <form action="/hotel/{{hotelId}}/result" method="POST" id="registration-form" class="new-form">
            <label for="startDate" id="startDate-label">
                Start Date:
            </label>
            <input type="date" name="startDate" id="startDate">
            <label for="endDate" id="endDate-label">
                End Date:
            </label>
            <input type="date" name="endDate" id="endDate">
            <button type="submit">Search</button>
        </form>
    </div>
    {{else}}
    <div class="booking">
        <p>Please <a href="/register">log in</a> to book a room.</p>
    </div>
    {{/if}}
</div>
<div class="reviewSection">
    <div class="reviewResult">
        {{#if userHasReviewed}}
        <div class="editReview">
            <div class="editReviewButton">
                <button class="editReview" onclick="editReview()">
                    Edit Review
                </button>
            </div>
            <div hidden="true" class="editReviewWindow">
                <form action="/reviews/{{reviewId}}" method="PATCH">                    
                    <textarea name="reviewComment" placeholder="Comment">{{reviewComment}}</textarea>
                    <select name="reviewRating" id="reviewRating">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3" selected>3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
        {{else}}        
        <div class="addReview">
            <div class="addReviewButton">
                <button class="addReview" onclick="addReview()">
                    Add Review
                </button>
            </div>
            <div hidden="true" class="addReviewWindow">
                <form action="/reviews" method="POST">
                    <input type="text" name="reviewTitle" placeholder="Title">
                    <textarea name="reviewComment" placeholder="Comment"></textarea>
                    <select name="reviewRating" id="reviewRating">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3" selected>3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
        {{/if}}
        <ol>
            {{#each reviews}}
            <li>
                <div class="reviewItem">
                    <div class="reviewUserItem">
                        <div class="reviewUserPhoto">{{userAvatar}}</div>
                    </div>
                    <div class="reviewContentItem">
                        <div class="reviewTitle"><a href="/reviews/{{this._id}}">Edit this review</a>
                        </div>
                        <div class="reviewRating">
                            <p>{{this.rating}}</p>
                        </div>
                        <div class="reviewComment">
                            <p>{{this.comment}}</p>
                        </div>
                        <div class="reviewUpvote">
                            <p>Upvote: {{this.upVote}}</p>
                        </div>
                        <div class="reviewDownvote">
                            <p>Downvote: {{this.downVote}}</p>
                        </div>
                    </div>
                </div>
            </li>
            {{/each}}
        </ol>
    </div>
</div>
</div>
<div class="error" id="client">
    <p id="client-error"></p>
</div>
<a href="/register">Click here to register!</a>