{{!--

hotel_photo: the first photo of the Pictures attribute of the hotel


--}}

{{#if errorMessage}}
<div class="error">
    <p>Error code {{status}}: {{errorMessage}}</p>
</div>
{{/if}}
<h2>{{hotel.name}}</h2>
<div class="hotelInfo">
    <div class="hotelBasicInfo">
        <div class="hotelPhoto">
            {{#each hotel.pictures }}
                <img src="{{this}}" alt="hotelPicture">
            {{/each}}
        </div>
        <div class="hotelRating">
            <p>Rating: {{hotel.overall_rating}}</p>
        </div>
    </div>
    <div class="hotelIntro">
        <div class="hotelAddress">
            <p>Address: {{hotel.street}}, {{hotel.city}}, {{hotel.state}}, {{hotel.zip_code}}</p>
        </div>
        <div class="hotelContacts">
            <p>Contacts: Phone: {{hotel.phone}} Email: {{hotel.email}}</p>
        </div>
        <div class="hotelFacilities">
            <p>Facilities: {{hotel.facilities}}</p>
        </div>
    </div>
    <div class="edit">
        <button id="editHotelButton" onclick="editHotel()">Edit Hotel Basic Info</button>
        <div hidden="true" id="editHotelWindow">
            <form action="/hotel/{{hotel._id}}/hotelManagement?_method=PUT" method="POST" id="editHotelForm" class="my-form"
                enctype="multipart/form-data">
                <input type="hidden" name="hotelIdInput" value="{{hotel._id}}">
                <input type="hidden" name="fakestate" value="{{hotel.state}}">
                <div class="hotelName input">
                    <label for="hotelNameInput" id="hotelNameInput-label">
                        Hotel Name:<input type="text" name="hotelName" id="hotelNameInput" value="{{hotel.name}}">
                    </label>
                </div>
                <div class="hotelPictures input">
                    <label for="hotelPicturesInput" id="hotelPicturesInput-label">
                        Hotel Pictures:<input type="file" name="hotelPictures" id="hotelPicturesInput" accept="image/*" multiple>
                    </label>
                </div>
                <div class="hotelContact">
                    <div class="input">
                        <label for="hotelPhoneInput" id="hotelPhoneInput-label">
                            Hotel Phone:<input type="text" name="hotelPhone" id="hotelPhoneInput"
                                value="{{hotel.phone}}">
                        </label>
                    </div>
                    <div class="input">
                        <label for="hotelEmailInput" id="hotelEmailInput-label">
                            Hotel Email:<input type="email" name="hotelEmail" id="hotelEmailInput"
                                value="{{hotel.email}}">
                        </label>
                    </div>
                </div>
                <div class="hotelAddress">
                    <div class="input">
                        <label for="hotelCityInput" id="hotelCityInput-label">
                            Hotel City:<input type="text" name="hotelCity" id="hotelCityInput" value="{{hotel.city}}">
                        </label>
                    </div>
                    <div class="input">
                        <label for="hotelStreetInput" id="hotelStreetInput-label">
                            Hotel Street:<input type="text" name="hotelStreet" id="hotelStreetInput"
                                value="{{hotel.street}}">
                        </label>
                    </div>
                    <div class="input">
                        <label for="hotelStateInput" id="hotelStateInput-label">
                            Hotel State:<select id="hotelStateInput" class="state" name="hotelState"
                                value="{{hotel.state}}">
                            </select>
                        </label>
                    </div>
                    <div class="input">
                        <label for="hotelZipcodeInput" id="hotelZipcodeInput-label">
                            Hotel Zip:<input type="text" name="hotelZipCode" id="hotelZipcodeInput"
                                value="{{hotel.zip_code}}">
                        </label>
                    </div>
                </div>
                <div class="input hotelFacilities">
                    <label for="hotelFacilitiesInput" id="hotelFacilitiesInput-label">
                        Hotel Facilities:<input type="text" name="hotelFacilities" id="hotelFacilitiesInput"
                            value="{{hotel.facilities}}">
                    </label>
                </div>
                <button type="submit">Submit Info Change</button>
            </form>
        </div>
        <div>
            <a href="/hotel/{{hotel._id}}/hotelManagement/rooms">Hotel Rooms</a>
        </div>
        <div>
            <a href="/hotel/{{hotel._id}}/hotelManagement/roomTypes">Hotel Rooms Types</a>
        </div>
        <div>
            <a href="/hotel/{{hotel._id}}/hotelManagement/orders">Hotel orders</a>
        </div>
        <div>
            <a href="/hotel/{{hotel._id}}/hotelManagement/reviews">Hotel Reviews</a>
        </div>
        {{!-- {{#if (eq userIdentity "admin")}} --}}
        <a href="/hotel/{{hotel._id}}/hotelManagement/managers">Hotel Managers</a>
        {{!-- {{/if}} --}}
    </div>
    {{#if (eq user.userIdentity "admin")}}
    <div class="delete">
        <button id="deleteHotelButton" onclick="deleteHotel()">Delete Hotel</button>
        <div hidden="true" id="deleteHotelWindow">
            <form action="/hotel/{{hotel._id}}?_method=DELETE" method="POST" id="deleteHotelForm" class="my-form">
                <input type="hidden" name="hotelIdInput" value="{{hotel._id}}">
                <button type="submit" class="danger">Confirm Delete</button>
            </form>
        </div>
    </div>
    {{/if}}
</div>
<div class="error" id="client">
    <p id="client-error"></p>
</div>