{{!--

hotel_photo: the first photo of the Pictures attribute of the hotel


--}}

{{#if error}}
<div class="error">
    <p>Error code {{statusCode}}: {{error}}</p>
</div>
{{/if}}
<h2>{{hotelName}}</h2>
<div class="hotelInfo">
    <div class="hotelBasicInfo">
        <div class="hotelPhoto"><img src="{{hotelPhoto}}"></div>
        <div class="hotelRating">
            <p>Rating: {{hotelRating}}</p>
        </div>
    </div>
    <div class="hotelIntro">
        <div class="hotelAddress">
            <p>Address: {{hotelAddress}}</p>
        </div>
        <div class="hotelContacts">
            <p>Contacts: Phone: {{hotelPhone}} Email: {{hotelEmail}}</p>
        </div>
    </div>
    <div class="edit">
        <button id="editHotelButton" onclick="editHotel()">Edit Hotel Basic Info</button>
        <div hidden="true" id="editHotelWindow">
            <form action="/hotel/{{hotelId}}" method="PATCH" id="editHotelForm" class="my-form">
                <input type="hidden" name="hotelId" value="{{hotelId}}">
                <label for="hotelName" id="hotelName-label">
                    Hotel Name:
                </label>
                <input type="text" name="hotelName" id="hotelName" value="{{hotelName}}">
                <div class="hotelContact">
                    <label for="hotelPhone" id="hotelPhone-label">
                        Hotel Phone:
                    </label>
                    <input type="text" name="hotelPhone" id="hotelPhone" value="{{hotelPhone}}">
                    <label for="hotelEmail" id="hotelEmail-label">
                        Hotel Email:
                    </label>
                    <input type="email" name="hotelEmail" id="hotelEmail" value="{{hotelEmail}}">
                </div>
                <div class="hotelAddress">
                    <label for="hotelCity" id="hotelCity-label">
                        Hotel City:
                    </label>
                    <input type="text" name="hotelCity" id="hotelCity" value="{{hotelCity}}">
                    <label for="hotelStreet" id="hotelStreet-label">
                        Hotel Street:
                    </label>
                    <input type="text" name="hotelStreet" id="hotelStreet" value="{{hotelStreet}}">
                    <label for="hotelState" id="hotelState-label">
                        Hotel State:
                    </label>
                    <select id="hotelState" class="state">
                    </select>
                    <label for="hotelZipcode" id="hotelZipcode-label">
                        Hotel Zip:
                    </label>
                    <input type="text" name="hotelZipcode" id="hotelZipcode" value="{{hotelZipcode}}">
                </div>
                <button type="submit">Submit Info Change</button>
            </form>
        </div>
        <a href="/hotel/{{hotelId}}/room">Edit Hotel Rooms</a>
        <a href="/hotel/{{hotelId}}/roomType">Edit Hotel Rooms Types</a>
    </div>

</div>
<div class="error" id="client">
    <p id="client-error"></p>
</div>