{{!--

hotel_photo: the first photo of the Pictures attribute of the hotel


--}}

{{#if error}}
<div class="error">
    <p>Error code {{statusCode}}: {{error}}</p>
</div>
{{/if}}
<h2>{{hotelName}}</h2>
<div class="hotelInfo">
    <div class="hotelBasicInfo">
        <div class="hotelPhoto"><img src="{{hotelPhoto}}"></div>
        <div class="hotelRating">
            <p>Rating: {{hotelRating}}</p>
        </div>
    </div>
    <div class="hotelIntro">
        <div class="hotelAddress">
            <p>Address: {{hotelAddress}}</p>
        </div>
        <div class="hotelContacts">
            <p>Contacts: Phone: {{hotelPhone}} Email: {{hotelEmail}}</p>
        </div>
    </div>
    <div class="edit">
        <button id="editHotelButton" onclick="editHotel()">Edit Hotel Basic Info</button>
        <div hidden="true" id="editHotelWindow">
            <form action="/hotel/{{hotelId}}" method="PATCH" id="editHotelForm" class="my-form">
                <input type="hidden" name="hotelIdInput" value="{{hotelId}}">
                <label for="hotelNameInput" id="hotelNameInput-label">
                    Hotel Name:
                </label>
                <input type="text" name="hotelNameInput" id="hotelNameInput" value="{{hotelName}}">
                <div class="hotelContact">
                    <label for="hotelPhoneInput" id="hotelPhoneInput-label">
                        Hotel Phone:
                    </label>
                    <input type="text" name="hotelPhoneInput" id="hotelPhoneInput" value="{{hotelPhone}}">
                    <label for="hotelEmailInput" id="hotelEmailInput-label">
                        Hotel Email:
                    </label>
                    <input type="email" name="hotelEmailInput" id="hotelEmailInput" value="{{hotelEmail}}">
                </div>
                <div class="hotelAddress">
                    <label for="hotelCityInput" id="hotelCityInput-label">
                        Hotel City:
                    </label>
                    <input type="text" name="hotelCityInput" id="hotelCityInput" value="{{hotelCity}}">
                    <label for="hotelStreetInput" id="hotelStreetInput-label">
                        Hotel Street:
                    </label>
                    <input type="text" name="hotelStreetInput" id="hotelStreetInput" value="{{hotelStreet}}">
                    <label for="hotelStateInput" id="hotelStateInput-label">
                        Hotel State:
                    </label>
                    <select id="hotelStateInput" class="state" name="hotelStateInput">
                    </select>
                    <label for="hotelZipcodeInput" id="hotelZipcodeInput-label">
                        Hotel Zip:
                    </label>
                    <input type="text" name="hotelZipcode" id="hotelZipcode" value="{{hotelZipcode}}">
                </div>
                <button type="submit">Submit Info Change</button>
            </form>
        </div>
        <a href="/hotel/{{hotelId}}/room">Edit Hotel Rooms</a>
        <a href="/hotel/{{hotelId}}/roomType">Edit Hotel Rooms Types</a>
        <a href="/hotel/{{hotelId}}/orders">Edit Hotel Reviews</a>
    </div>
    {{if (eq user.userIdentity "admin")}}
    <div class="delete">
        <button id="deleteHotelButton" onclick="deleteHotel()">Delete Hotel</button>
        <div hidden="true" id="deleteHotelWindow">
            <form action="/hotel/{{hotelId}}" method="DELETE" id="deleteHotelForm" class="my-form">
                <input type="hidden" name="hotelIdInput" value="{{hotelId}}">
                <button type="submit">Confirm Delete</button>
            </form>
        </div>
    </div>
    {{/if}}
</div>
<div class="error" id="client">
    <p id="client-error"></p>
</div>