{{!--

What this page needs:
hotel information
review information
reviewUserId: the id of the user who wrote the review

--}}

{{#if errorMessage}}
<div class="error">
    <p>Error code {{status}}: {{errorMessage}}</p>
</div>
{{/if}}

<h2>{{hotel.name}}'s all managers</h2>
<div class="hotelInfo">
    <div class="hotelName">
        <p>{{hotelName}}</p>
    </div>
    <div class="hotelPhoto"><img src="{{hotelPhoto}}"></div>
    <div class="hotelRating">
        <p>Rating: {{hotelRating}}</p>
    </div>

    <div class="hotelIntro">
        <div class="hotelAddress">
            <p>Address: {{hotelAddress}}</p>
        </div>
        <div class="hotelContacts">
            <p>Contacts: Phone: {{hotelPhone}} Email: {{hotelEmail}}</p>
        </div>
    </div>
</div>
<div class="managerOperations box">
    <div class="managerResult left">
        <h3>All managers</h3>
        {{#each managers}}
        <div class="manager box">
            <div class="managerContentItem left">
                <div class="mgrPhoto">{{this.avatar}}</div>
            </div>
            <div class="managerContentItem right">
                <div class="mgrId">
                    <p>User ID: {{this._id}}</p>
                </div>
    
                <div class="mgrUsername">
                    <p>Username: {{this.username}}</p>
                </div>

                <div class="mgrName">
                    <p>Name: {{this.firstName}} {{this.lastName}}</p>
                </div>

                <div class="mgrEmail">
                    <p>Email: {{this.email}}</p>
                </div>

                <div class="mgrPhone">
                    <p>Phone: {{this.phone}}</p>
                </div>
            </div>
            <form action="/hotel/:hotelId/hotelManagement/managers?_method=DELETE" method="POST" id="deleteMgr-form" class="my-form">
                <input type="hidden" name="userNameInput" id="userNameInput" value="{{this.username}}">
                <button type="submit" id="deleteMgr" class="danger">Delete</button>
            </form>
        </div>
        {{/each}}
    </div>
    <div class="addMgr">
        <h3>Add a new manager</h3>
        <form action="/hotel/:hotelId/hotelManagement/managers" method="POST" id="registration-form" class="my-form">
            {{!-- <input type="hidden" name="hotelId" value="{{hotelId}}"> --}}
            <label for="userNameInput" id="userNameInput-label">
                Username:
            </label>
            <input type="text" name="userNameInput" id="userNameInput">
            <button type="submit">Add</button>
        </form>        
    </div>

</div>
<div class="error" id="client">
    <p id="client-error"></p>
</div>
<a href="/register">Click here to register!</a>