{{!--

hotel_photo: the first photo of the Pictures attribute of the hotel
hotel book button: You can modify the reletive address for your own purpose
hotel room: you should calculate this variable of if there are available rooms to determine whether to show the hotel
room information
userHasReviewed: Please pass this boolean variable to the template to determine whether to show the review button
reviewID, reviewComment, reviewTitle: if the user has reviewed this hotel, please pass the reviewID to the template

--}}

{{#if errorMessage}}
<div class="error">
    <p>Error code {{status}}: {{errorMessage}}</p>
</div>
{{/if}}
{{#if (eq manageable "true")}}
<div class="management">
    <p><a href="/hotel/{{hotelId}}/hotelManagement">Click here to enter management page.</a></p>
</div>
{{/if}}
<h2>{{hotelName}}</h2>
<div class="hotelInfo">
    <div class="hotelBasicInfo">
        <div class="hotelPhoto">
            {{#if hotelPhoto}}
            {{#each hotelPhoto}}
            <img src="{{this}}" alt="one of the pictures for the hotel">
            {{/each}}
            {{else}}
            <img src="/public/img/hotel.jpg" alt="default hotel picture">
            {{/if}}
        </div>
        <div class="hotelRating">
            <p>Rating: {{hotelRating}}</p>
        </div>
    </div>
    <div class="hotelIntro">
        <div class="hotelAddress">
            <p>Address: {{hotelAddress}}</p>
        </div>
        <div class="hotelContacts">
            <p>Contacts: Phone: {{hotelPhone}} Email: {{hotelEmail}}</p>
        </div>
        <div class="hotelFacilities">
            <p>Facilities: {{hotelFacilities}}</p>
        </div>
    </div>
    {{#if (ne user.identity "guest")}}
    <div class="booking">
        <p>Please choose the date and search if there are rooms available during your schedule.</p>
        <form action="/hotel/{{hotelId}}" method="POST" id="registration-form" class="my-form">
            <label for="startDate" id="startDate-label">
                Start Date:
            </label>
            <input type="date" name="startDate" id="startDate">
            <label for="endDate" id="endDate-label">
                End Date:
            </label>
            <input type="date" name="endDate" id="endDate">
            <button type="submit">Search</button>
        </form>
    </div>
    {{else}}
    <div class="booking">
        <p>Please <a href="/user/login">log in</a> to book a room.</p>
    </div>
    {{/if}}
</div>
<div class="reviewSection">
    <h2>All Reviews</h2>
    <div class="reviewResult">
        {{#if userHasReviewed}}
        <a href="/review/{{reviewID}}">to your review</a>
        {{/if}}
        {{#if reviews}}
                <ol>
            {{#each reviews}}
            <li>
                <div class="reviewItem">
                    <div class="reviewUser">
                        <div class="reviewUserPhoto hotelPhoto">
                            <img src="{{this.userAvatar}}" alt="avatar of the reviewer">
                        </div>
                    </div>

                    <div class="reviewInfo">
                        <div class="reviewUserName">
                            <p><a href="/reviews/{{this._id}}">{{this.userName}}</a></p>
                        </div>
                        <div class="reviewRating">
                            <p>Rating: {{this.rating}}</p>
                        </div>
                        <div class="reviewComment">
                            <p>Comment: {{this.comment}}</p>
                        </div>
                        <div class="reviewUpvote">
                            <p>Upvote: {{this.upVote}}</p>
                        </div>
                        <div class="reviewDownvote">
                            <p>Downvote: {{this.downVote}}</p>
                        </div>
                    </div>
                </div>
            </li>
            {{/each}}

        </ol>{{else}}
        <p>No reviews yet.</p>
        {{/if}}
    </div>
</div>

<div class="error" id="client">
    <p id="client-error"></p>
</div>
{{#if (ne user.identity "guest")}}
<a href="/user/register">Click here to register!</a>
{{/if}}