{{!--

userAvatar: the avatar of the user

--}}

{{#if errorMessage}}
<div class="error">
    <p>Error code {{status}}: {{errorMessage}}</p>
</div>
{{/if}}
<div class="Avatar">
    <img src="{{userAvatar}}">
</div>
<h2>{{userName}}</h2>
<div class="basic information">
    <div class="userFirstName"><p>First Name: {{userFirstName}}</p></div>
    <div class="userLastName"><p>Last Name: {{userLastName}}</p></div>
    <div class="userEmail"><p>Email: {{userEmail}}</p></div>
    <div class="userPhone"><p>Phone: {{userPhone}}</p></div>
</div>


<div class="error" id="client">
    <p id="client-error"></p>
</div>
