{{!--

if cannot find a room fit the modified date, the server should return a 400 error
order.guests should be the guests list of this order.
Please assign a variable number as order.guests.number for each guest to render the guest input tags

Please pass a number for the guest item to render the guest input and div tags.

order has status: pending, completed, cancelled.

--}}

{{#if errorMessage}}
<div class="error">
    <p>Error code {{status}}: {{errorMessage}}</p>
</div>
{{/if}}
<h2>Search Result</h2>
<div class="userOrders">
    <ol>
        {{#each order}}
        <li>
            <div class="orderItem">
                <div class="orderItemInfo">
                    <div class="hotelName"><a href="/hotel/{{hotelId}}">{{hotelName}}</a></div>
                    <div class="roomType">
                        <p><a href="/order/{{_id}}">{{roomType}}</a></p>
                    </div>
                    <div class="orderPrice">
                        <p>{{orderPrice}}</p>
                    </div>
                    <div class="startDate">
                        <p>{{startDate}}</p>
                    </div>
                    <div class="endDate">
                        <p>{{endDate}}</p>
                    </div>
                    <div class="orderGuests">
                        <p>Guests:</p>                        
                        <p>{{guest1.firstName}} {{guests1.lastName}}</p>
                        <p>{{guest2.firstName}} {{guests2.lastName}}</p>
                    </div>
                    <div class="orderStatus">
                        <p>Current Status: {{status}}</p>
                    </div>
                </div>             
            </div>
        </li>
       {{/each}}
    </ol>
</div>
<div class="error" id="client">
    <p id="client-error"></p>
</div>