{{!--

if cannot find a room fit the modified date, the server should return a 400 error
order.guests should be the guests list of this order.
Please assign a variable number as order.guests.number for each guest to render the guest input tags

Please pass a number for the guest item to render the guest input and div tags.

order has status: pending, completed, cancelled.

--}}

{{#if error}}
<div class="error">
    <p>Error code {{statusCode}}: {{error}}</p>
</div>
{{/if}}
<h2>Search Result</h2>
<div class="searchResult">
    <ol>
        {{#each order}}
        <li>
            <div class="orderItem">
                <div class="orderItemInfo">
                    <div class="hotelName"><a href="/hotel/{{hotelId}}">{{hotelName}}</a></div>
                    <div class="roomType">
                        <p>{{roomType}}</p>
                    </div>
                    <div class="orderPrice">
                        <p>{{orderPrice}}</p>
                    </div>
                    <div class="startDate">
                        <p>{{startDate}}</p>
                    </div>
                    <div class="endDate">
                        <p>{{endDate}}</p>
                    </div>
                    <div class="orderGuests">
                        {{#each guests}}
                        <p>{{guests.number}}. {{guests.firstName}} {{guests.lastName}}</p>
                        {{/each}}
                    </div>
                    <div class="orderStatus">
                        <p>{{status}}</p>
                    </div>
                </div>
                {{#if (eq status "pending")}}
                <div class="editOrder">
                    <button class="editOrderButton" onclick="showEditOrderWindow()">Edit</button>
                    <div class="editOrderWindow" hidden="true">
                        <form action="/order/{{_id}}/edit" method="PATCH" id="editOrder-form"
                            class="my-form">
                            <div class="startDate">
                                <input type="date" name="startDate" value="{{startDate}}">
                                <label for="startDate">Start Date</label>
                            </div>
                            <div class="endDate">
                                <input type="date" name="endDate" value="{{endDate}}">
                                <label for="endDate">End Date</label>
                            </div>
                            <div class="orderGuests">                            
                            {{#each guests}}
                            <div class="guestItem" id="guest-{{guests.number}}">
                                <input type="text" name="guestFirstName-{{guests.number}}">
                                <label for="guestFirstName-{{guests.number}}">Guest {{.guests.number}}
                                    firstname</label>
                                <input type="text" name="guestLastName-{{guests.number}}">
                                <label for="guestLastName-{{guests.number}}">Guest {{guests.number}}
                                    lastname</label>
                                <button type="button" onclick="removeGuest({{guests.number}})">Remove</button>
                            </div>
                            {{/each}}
                            <button type="button" onclick="addGuest()">Add Guest</button>
                            </div>
                            <button type="submit" class="editOrderButton">Edit</button>
                        </form>
                    </div>
                </div>
                <div class="cancelOrder">
                    <div class="cancelOrderWindow">
                        <form action="/order/{{orderId}}/cancel" method="PATCH" id="cancelOrder-form"
                            class="my-form">
                            <button type="submit" class="cancelOrderButton">Cancel</button>
                        </form>
                    </div>
                </div>
                {{/if}}
                {{#if (eq status "completed")}}
                <a href="/hotel/{{hotel}}">Have a review on it!</a>
                {{/if}}
            </div>
        </li>
        {{/each}}
    </ol>
</div>
<div class="error" id="client">
    <p id="client-error"></p>
</div>