{{#if errorMessage}}
<div class="error">
    <p>Error code {{status}}: {{errorMessage}}</p>
</div>
{{/if}}
<h2>Request</h2>
<div class="requestItem">
    <div class="requestId">
        <p>Request id: {{request._id}}</p>
    </div>
    <div class="username">
        <p>Request username: <a>{{request.username}}</a></p>
    </div>
    <div class="status">
        <p>Request status: <a>{{request.status}}</a></p>
    </div>
</div>

<div class="hotelInfo">
    <div class="hotelName">
        <p>Hotel Name: {{request.hotelName}}</p>
    </div>
    <div class="hotelPhoto">
        <img src="{{request.photo}}" alt="hotel photo">
    </div>
    <div class="hotelAddress">
        <p>Hotel Address: {{request.street}}, {{request.city}}, {{request.state}}, {{request.zip_code}}</p>
    </div>
    <div class="hotelContact">
        <p>Phone: {{request.phone}} Email: {{request.email}}</p>
    </div>
</div>

<div class="requestApplication">
    <div class="application box">
        <div class="left">
            <form action="/admin/requests/{{request._id}}" method="POST" id="approve" class="my-form">
                <input type="hidden" name="response" value="true">
                <button type="submit" id="approve-button">Approve</button>
            </form>
        </div>
        <div class="right">
            <form action="/admin/requests/{{request._id}}" method="POST" id="reject" class="my-form">
                <input type="hidden" name="response" value="false">
                <button type="submit" id="reject-button">Reject</button>
            </form>
        </div>
    </div>
</div>

<div class="adminPage">
    <a href="/admin">Admin Main Page</a>
</div>
<div class="error" id="client">
    <p id="client-error"></p>
</div>