{{#if errorMessage}}
<div class="error">
    <p>Error code {{status}}: {{errorMessage}}</p>
</div>
{{/if}}
<h2>Request</h2>
<div class="requestItem">
    <div class="requestId">
        <p>Request id: {{request._id}}</p>
    </div>
    <div class="username">
        <p>Request username: <a>{{request.username}}</a></p>
    </div>
    <div class="status">
        <p>Request status: <a>{{request.status}}</a></p>
    </div>
</div>

<div class="hotelInfo">
    <div class="hotelName">
        <p>Hotel Name: {{request.name}}</p>
    </div>
    <div class="hotelPhoto">
        {{#if request.photo}}
        
        <img src="{{request.photo}}" alt="hotel photo">
        {{else}}
        <img src="/public/img/hotel.jpg" alt="default hotel photo">
        {{/if}}
    </div>
    <div class="hotelAddress">
        <p>Hotel Address: {{request.street}}, {{request.city}}, {{request.state}}, {{request.zip_code}}</p>
    </div>
    <div class="hotelPhone">
        <p>Phone: {{request.phone}}</p>
    </div>
    <div class="hotelEmail">
        <p>Email: {{request.email}}</p>
    </div>
    <div class="hotelfacilities">
        <p>Facilities: {{request.Facilities}}</p>
    </div>
    <div class="hotelManagers">
        <p>Managers ID: {{#each request.managers }} {{this}} {{/each}}</p>
    </div>
</div>
{{#if (eq request.status "pending")}}
<div class="requestApplication">
    <div class="application box">
        <div class="left">
            <form action="/admin/requests/{{request._id}}" method="POST" id="approve" class="my-form">
                <input type="hidden" name="response" value="true">
                <button type="submit" id="approve-button">Approve</button>
            </form>
        </div>
        <div class="right">
            <form action="/admin/requests/{{request._id}}" method="POST" id="reject" class="my-form">
                <input type="hidden" name="response" value="false">
                <button type="submit" id="reject-button">Reject</button>
            </form>
        </div>
    </div>
</div>
{{/if}}

<div class="adminPage">
    <a href="/admin/requests">Hotel Application Processing Panel</a>
</div>
<div class="error" id="client">
    <p id="client-error"></p>
</div>