{{#if errorMessage}}
<div class="error">
    <p>Error code {{status}}: {{errorMessage}}</p>
</div>
{{/if}}
<h2>Request List</h2>
<div class="requestList">
    <ol>
        {{#each reqList}}
        <li>
            <div class="requestList">
                <div class="requestId"><a href="/request/{{this._id}}">{{this._id}}</a></div>
                <div class="username"><a>{{this.username}}</a></div>
                <div class="status"><a>{{this.status}}</a></div>
            </div>
        </li>
        {{/each}}
    </ol>
</div>
<div class="adminPage">
    <a href="/admin">Admin Main Page</a>
</div>
<div class="error" id="client">
    <p id="client-error"></p>
</div>