{{!--

What this page needs:
hotel information
review information
reviewUserId: the id of the user who wrote the review

--}}

{{#if errorMessage}}
<div class="error">
    <p>Error code {{status}}: {{errorMessage}}</p>
</div>
{{/if}}
<div class="hotelInfo">
    <div class="hotelName">
        <p>{{hotelName}}</p>
    </div>
    <div class="hotelPhoto"><img src="{{hotelPhoto}}"></div>
    <div class="hotelRating">
        <p>Rating: {{hotelRating}}</p>
    </div>

    <div class="hotelIntro">
        <div class="hotelAddress">
            <p>Address: {{hotelAddress}}</p>
        </div>
        <div class="hotelContacts">
            <p>Contacts: Phone: {{hotelPhone}} Email: {{hotelEmail}}</p>
        </div>
    </div>
</div>
<div class="reviewResult">
    <div class="reviewItem">
        <div class="reviewUserItem">
            <div class="reviewUserPhoto"><img src="{{userAvatar}}"></div>
        </div>
        <div class="reviewContentItem">
            <div class="reviewRating">
                <p>{{reviewRating}}</p>
            </div>
            <div class="reviewComment">
                <p>{{reviewComment}}</p>
            </div>
            {{!-- {{#if editable}} --}}
            <div class="editReview">
                <button id="editReviewButton" onclick="editReview()">Edit</button>
                <div hidden="true" id="editReviewWindow">
                    {{#if (eq user.identity "admin")}}
                    <form action="/hotel/{{hotelId}}/hotelManagement/review" method="POST">
                    {{else}}
                    <form action="/reviews/{{reviewId}}" method="POST">
                    {{/if}}
                    <input type="hidden" name="_method" value="PUT">
                        {{!-- <label for="reviewTitle">Title</label>
                        <input type="text" name="reviewTitle" placeholder="Review Title" value="{{reviewTitle}}"> --}}
                        <label for="reviewRating">Rating</label>
                        <select name="reviewRating">
                            <option value="1" {{#if (eq reviewRating 1)}}selected{{/if}}>1</option>
                            <option value="2" {{#if (eq reviewRating 2)}}selected{{/if}}>2</option>
                            <option value="3" {{#if (eq reviewRating 3)}}selected{{/if}}>3</option>
                            <option value="4" {{#if (eq reviewRating 4)}}selected{{/if}}>4</option>
                            <option value="5" {{#if (eq reviewRating 5)}}selected{{/if}}>5</option>
                            <label for="reviewComment">Comment</label>
                            <textarea name="reviewComment" placeholder="Review Comment">{{reviewComment}}</textarea>
                            <input type="hidden" name="hotelIdInput" value="{{hotelId}}">
                            <input type="hidden" name="reviewIdInput" value="{{reviewId}}">
                            <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
            <div class="deleteReview">
                {{#if (eq user.identity "admin")}}
                <form action="/hotel/{{hotelId}}/hotelManagement/review" method="POST">
                {{else}}
                <form action="/reviews/{{reviewId}}" method="POST">
                {{/if}}
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="hotelIdInput" value="{{hotelId}}">
                    <input type="hidden" name="reviewIdInput" value="{{reviewId}}">
                    <button type="submit">Delete</button>
                </form>
            </div>
            {{!-- {{/if}} --}}
            <div class="reviewVotes">
                <p>Do you think this review is useful?</p>
                <p>Upvote: {{reviewUpvotes}}</p>
                <p>Downvote: {{reviewDownvotes}}</p>
                <form action="/reviews/{{reviewId}}?_method=PATCH" method="POST">
                    <input type="hidden" name="reviewIdInput" value="{{reviewId}}">
                    <input type="hidden" name="hotelIdInput" value="{{hotelId}}">
                    <input type="hidden" name="voteInput" value="upvote">
                    <button type="submit">Yes</button>
                </form>
                <form action="/reviews/{{reviewId}}?_method=PATCH" method="POST">
                    <input type="hidden" name="reviewIdInput" value="{{reviewId}}">
                    <input type="hidden" name="hotelIdInput" value="{{hotelId}}">
                    <input type="hidden" name="voteInput" value="downvote">
                    <button type="submit">No</button>
                </form>
            </div>
            {{/if}}
        </div>
    </div>
</div>
<div class="error" id="client">
    <p id="client-error"></p>
</div>
<a href="/register">Click here to register!</a>