{{!--

roomTypes: Please pass all roomTpyes when rendering this template.
roomStatus: Please pass a roomStatus variable when rendering this template. You can add a new key-value pair to the
roomTypes collection, or you can just calculate its availability and set it as a new variable.

--}}

{{#if errorMessage}}
<div class="error">
    <p>Error code {{status}}: {{errorMessage}}</p>
</div>
{{/if}}
<h2>All rooms of the hotel</h2>
<div class="searchResult">
    <ol>
        {{#each rooms}}
        <li>
            <div class="searchResultItem">
                <div class="roomNumber">
                    <p><a href="/hotel/{{this.hotel_id}}/hotelManagement/rooms/{{this._id}}">{{this.room_number}}</a></p>
                </div>
                <div class="roomId">
                    <p>{{this._id}}</p>
                </div>
                <div class="roomType">
                    <p>{{this.room_type}}</p>
                </div>
                {{!-- <div class="roomStatus">
                    <p>{{room_status}}</p>
                </div> --}}
            </div>
        </li>
        {{/each}}
    </ol>
    <div class="addNewRoom">
        <form action="/hotel/{{hotelId}}/hotelManagement/rooms" method="POST" id="addNewRoom-form" class="my-form">
            <input type="hidden" name="hotelId" value="{{hotelId}}">
            <label for="newRoomNumberInput" id="newRoomNumberInput-label">
                Room Number:
            </label>
            <input type="text" name="newRoomNumberInput" id="newRoomNumberInput">
            <label for="newRoomTypeInput" id="newRoomTypeInput-label">
                Room Type:
            </label>
            <select name="newRoomTypeInput" id="newRoomTypeInput" class="roomTypeInput">
                {{!-- The roomTypes should be all roomTypes that available --}}
                {{#each roomTypes}}
                <option value="{{this.name}}">{{this.name}}</option>
                {{/each}}
            </select>
            <button type="submit" id="addNewRoom-button">Add</button>
        </form>
    </div>
</div>
<div class="error" id="client">
    <p id="client-error"></p>
</div>