{{!--

roomTypeDeletableStatus: Please pass a roomStatus variable when rendering this template.
This variable means if a roomType is deletable or not.
You can add a new key-value pair to the roomTypes collection, or you can just calculate its availability and set it as a
new variable.

--}}

{{#if errorMessage}}
<div class="error">
    <p>Error code {{status}}: {{errorMessage}}</p>
</div>
{{/if}}
<h2>All rooms of the hotel</h2>
<div class="searchResult left">
    <ol>
        {{#each roomTypes}}
        <li>
            <div class="searchResultInfo">
                <div class="roomTypePictures">
                    {{#each this.pictures}}
                    <img src="{{this.pictures}}" alt="roomTypePicture">
                    {{/each}}
                </div>
                <div class="roomTypeName">
                    <p>{{this.name}}</p>
                </div>
                <div class="roomTypePrice">
                    <p>{{this.roomTypePrice}}</p>
                </div>
            </div>
            <div class="deleteRoomType">
                <form action="/hotel/{{hotelId}}/hotelManagement/roomType/{{this._id}}?_method=DELETE" method="POST"
                    id="deleteRoomType-form" class="my-form">
                    <input type="hidden" name="hotelId" value="{{hotelId}}">
                    <button type="submit" id="deleteRoomType-button" class="danger">Delete</button>
                </form>
            </div>
            <div class="editRoomType">
                <button id="editRoomTypeButton-{{this._id}}" onclick="editRoomType({{this._id}})">Edit</button>
                <div hidden="true" id="edit-{{this._id}}">
                    <form action="/hotel/{{hotelId}}/hotelManagement/roomType/{{this._id}}?_method=PUT" method="POST"
                        id="editRoomType-form" class="my-form">
                        <label for="roomTypeName" id="roomTypeName-label">
                            Room Type:
                        </label>
                        <input type="text" name="roomTypeName" id="roomTypeName">
                        <label for="roomTypePrice" id="roomTypePrice-label">
                            Room Price:
                        </label>
                        <input type="number" name="roomTypePrice" id="roomTypePrice">
                        <label for="roomTypePictures" id="roomTypePictures-label">
                            Room Pictures:
                        </label>
                        <input type="file" name="roomTypePictures" id="roomTypePictures" accept="image/*" multiple>
                        <input type="hidden" name="hotelId" value="{{hotelId}}">
                        <button type="submit" id="editRoomType-button">Edit</button>
                    </form>
                </div>
            </div>
        </li>
        {{/each}}
    </ol>
</div>
<div class="addNewRoomType right">
    <form action="/hotel/{{hotelId}}/hotel_management/roomType" method="POST" id="addNewRoom-form" class="my-form">
        <label for="newRoomTypeName" id="newRoomTypeName-label">
            Room Type:
        </label>
        <input type="text" name="newRoomTypeName" id="newRoomTypeName">
        <label for="newRoomTypePrice" id="newRoomTypePrice-label">
            Room Price:
        </label>
        <input type="number" name="newRoomTypePrice" id="newRoomTypePrice">
        <label for="newRoomTypePictures" id="newRoomTypePictures-label">
            Room Pictures:
        </label>
        <input type="file" name="newRoomTypePictures" id="newRoomTypePictures" accept="image/*" multiple>
        <input type="hidden" name="hotelId" value="{{hotelId}}">
        <button type="submit" id="addNewRoom-button">Add</button>
    </form>
</div>

<div class="error" id="client">
    <p id="client-error"></p>
</div>