{{!--



--}}

{{#if error}}
<div class="error">
    <p>Error code {{statusCode}}: {{error}}</p>
</div>
{{/if}}
<h2>Room Search Result</h2>
<div class="searchResult">
    {{#if hotelRoom}}
    <div class="hotelRoom">
        <p>{{remainingHotelRooms}} rooms for this hotel are available, click the button to book now!</p>
        <form action="/order" method="POST" class="my-form">
            <div class="roomsInfo">
                <ul>
                    {{#each roomType}}
                    <li>
                        <div class="roomItem">
                            <input type="radio" id="{{_id}}" name="roomCheck" value="{{_id}}">
                            <label for="{{_id}}">{{roomTypeName}}</label>
                            <div class="roomPhoto"><img src="{{roomPhoto}}"></div>
                            <div class="roomInfo">
                                {{!-- <div class="roomTypeName">
                                    <p>{{roomTypeName}}</p>
                                </div> --}}
                                <div class="roomPrice">
                                    <p>Price: {{roomPrice}}</p>
                                </div>                                
                            </div>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
            <div class="otherInfo">
                <div class="guests">
                    {{!-- This part will be increased by DOM operation. --}}
                    <div class="guestItem" id="guest-1">
                        <input type="text" name="guestFirstName-1">
                        <label for="guestFirstName-1">Guest 1 firstname</label>
                        <input type="text" name="guestLastName-1">
                        <label for="guestLastName-1">Guest 1 lastname</label>
                    </div>
                    <div class="guestItem" id="guest-2">
                        <input type="text" name="guestFirstName-2">
                        <label for="guestFirstName-2">Guest 2 firstname</label>
                        <input type="text" name="guestLastName-2">
                        <label for="guestLastName-2">Guest 2 lastname</label>
                    </div>
                </div>
                <input type="hidden" name="hotelId" value="{{hotelId}}">
                <input type="hidden" name="checkInDate" value="{{checkInDate}}">
                <input type="hidden" name="checkOutDate" value="{{checkOutDate}}">
                <input type="hidden" name="status" value="pending">
                <div class="summary">
                    <p>start date: {{checkInDate}}</p>
                    <p>end date: {{checkOutDate}}</p>
                    <p>room type:<span id="roomType"></span></p>
                    <p>total days:<span id="totalDays"></span></p>
                    <p id="totalPriceDiv">Total Price: <span id="totalPrice"></span></p>
                </div>
                <button type="submit" id="book-button">Book</button>
            </div>
        </form>
    </div>
    {{/if}}
    {{#if noRoom}}
    <div class="noRoom">
        <p>Sorry, there is no room available for this hotel during date you choose.</p>
    </div>
    {{/if}}
</div>
<div class="error" id="client">
    <p id="client-error"></p>
</div>
{{#if (eq user.identity "guest")}}
<div class="new-user">
    <p>You can <a href="/user/register">register</a> or <a href="/user/login">login</a> first.</p>
</div>
{{/if}}