{{!--

hotelRating: to calculate the average rating of the hotel
hotelPrice: might be the lowest price or average price. I think lowest is better.

--}}

{{#if error}}
<div class="error">
    <p>Error code {{statusCode}}: {{error}}</p>
</div>
{{/if}}
<h2>Search Result</h2>
<div class="searchResult">
<ol>
    {{#each hotels}}
    <li>
    <div class="searchResultItem">
        <div class="hotelName"><a href="/hotel/{{hotels.hotelId}}">{{hotels.hotelName}}</a></div>
        <div class="hoteReviewNumber"><p>{{hotels.hotelReviewNumber}}</p></div>
        <div class="hotelRating"><p>{{hotels.hotelRating}}</p></div>
        <div class="hotelAddress"><p>{{hotels.hotelAddress}}</p></div>
        <div class="hotelPrice"><p>{{hotels.hotelPrice}}</p></div>
    </div>
    </li>
    {{/each}}
</ol>
</div>
<div class="error" id="client">
    <p id="client-error"></p>
</div>
{{#if (eq user.identity "guest")}}
<div class="new-user">
    <p>You can <a href="/register">register</a> or <a href="/login">login</a> first.</p>
</div>
{{/if}}