{{!--

roomTypes: Please pass all roomTpyes when rendering this template.
roomStatus: Please pass a roomStatus variable when rendering this template. You can add a new key-value pair to the
roomTypes collection, or you can just calculate its availability and set it as a new variable.

--}}

{{#if errorMessage}}
<div class="error">
    <p>Error code {{status}}: {{errorMessage}}</p>
</div>
{{/if}}
<h2>The room {{roomNumber}}</h2>
<div class="roomInfo">
                <div class="roomNumber">
                    <p><a href="/hotel/{{hotelId}}/room/{{roomId}}">{{roomNumber}}</a></p>
                </div>
                <div class="roomType">
                    <p>{{roomType}}</p>
                </div>
                <div class="roomStatus">
                    <p>{{roomStatus}}</p>
                </div>
            </div>
{{#if (eq roomStatus "available")}}
<div class="deleteRoom">
    <form action="/user/dashboard/{{username}}/hotel/{{hotelId}}/room/{{roomId}}/delete" method="DELETE">
        <button type="submit">Delete the room</button>
    </form>
</div>
{{/if}}
<div class="editRoom">
    <div class="editRoomButton">
        <button class="editRoom" onclick="editRoom()">Edit the room</button>
    </div>
    <div class="editRoomWindow" hidden="true" id="edit">
        <form action="/user/dashboard/{{username}}/hotel/{{hotelId}}/room/{{roomId}}/edit" method="PATCH" id="editRoom-form" class="my-form">
            <label id="roomNumberInput-label">
                Room Number:
                <input type="text" name="roomNumberInput">
            </label>
            <label id="roomTypeInput-label">
                Room Type:
                <select name="roomTypeInput" id="roomTypeInput">
                    {{#each roomTypes}}
                    <option value="{{typeName}}">{{typeName}}</option>
                    {{/each}}
                </select>
            </label>
            <button type="submit" id="editRoom-button">Edit</button>
        </form>
    </div>
</div>

<div class="error" id="client">
    <p id="client-error"></p>
</div>