{{!--

roomTypes: Please pass all roomTpyes when rendering this template.
roomStatus: Please pass a roomStatus variable when rendering this template. You can add a new key-value pair to the
roomTypes collection, or you can just calculate its availability and set it as a new variable.

--}}

{{#if errorMessage}}
<div class="error">
    <p>Error code {{status}}: {{errorMessage}}</p>
</div>
{{/if}}
<h2>The room {{room.room_number}}</h2>

<div class="roomType">
    <p>{{room.room_type}}</p>
</div>

<div class="deleteRoom">
    <form action="/hotel/{{room.hotel_id}}/hotelManagement/rooms/{{room._id}}?_method=DELETE" method="POST" class="my-form">
        <input type="hidden" name="hotelId" value="{{room.hotel_id}}">
        <input type="hidden" name="roomId" value="{{room._id}}">
        <button type="submit" class="danger">Delete the room</button>
    </form>
</div>

<div class="editRoom">
    <div class="editRoomButton">
        <button class="editRoom" id="editRoomButton" onclick="editRoom()">Edit the room</button>
    </div>
    <div class="editRoomWindow" hidden="true" id="editRoomWindow">
        <form action="/hotel/{{room.hotel_id}}/hotelManagement/rooms/{{room._id}}?_method=PUT" method="POST" id="editRoom-form" class="my-form">
            <label id="roomNumberInput-label">
                Room Number:
                <input type="text" name="roomNumberInput">
            </label>
            <label id="roomTypeInput-label">
                Room Type:
                <select name="roomTypeInput" id="roomTypeInput">
                    {{#each roomTypes}}
                    <option value="{{typeName}}">{{typeName}}</option>
                    {{/each}}
                </select>
            </label>
            <button type="submit" id="editRoom-button">Edit</button>
        </form>
    </div>
</div>

<div class="error" id="client">
    <p id="client-error"></p>
</div>