{{!--

userAvatar: the avatar of the user

--}}

{{#if error}}
<div class="error">
    <p>Error code {{statusCode}}: {{error}}</p>
</div>
{{/if}}
<div class="Avatar">
    <img src="{{userAvatar}}">
</div>
<form action="/upload" method="post" enctype="multipart/form-data">
    <label for="photo">change a photo</label>
    <input type="file" name="photo">
    <input type="submit" value="Upload">
</form>
<h2>{{userName}}</h2>
<div class="basic information">
    <p>{{}}</p>
</div>
{{!-- edit user info --}}
<div class="editUserInfo">
    <div class="editUserInfoWindow" hidden="true">
        <form action="/user/{{userId}}" method="PATCH">
            <label for="userFristName">User First Name</label>
            <input type="text" name="userFristName" id="userFristName">
            <label for="userLastName">User Last Name</label>
            <input type="text" name="userLastName" id="userLastName">
            <label for="userEmail">Email</label>
            <input type="email" name="userEmail" id="userEmail">
            <label for="userPhone">Phone</label>
            <input type="text" name="userPhone" id="userPhone">
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
{{!-- change password --}}
<div class="changePassword">

</div>

<div class="error" id="client">
    <p id="client-error"></p>
</div>
<a href="/register">Click here to register!</a>