{{!--



--}}

{{#if error}}
<div class="error">
    <p>Error code {{statusCode}}: {{error}}</p>
</div>
{{/if}}
<h2>Search Result</h2>
<div class="searchResult">
<ol>
    {{#each hotels}}
    <li>
    <div class="searchResultItem">
        <div class="hotelTitle"><a href="/hotel/{{hotelId}}">{{hotelName}}</a></div>
        <div class="hotelRating"><p>{{hotelRating}}</p></div>
        <div class="hotelAddress"><p>{{hotelAddress}}</p></div>
    </div>
    </li>
    {{/each}}
</ol>
</div>
<div class="error" id="client">
    <p id="client-error"></p>
</div>
<a href="/register">Click here to register!</a>
